In [3]:
import pandas as pd

file_path = '104_data.xlsx'
data = pd.read_excel(file_path)


data.head()

,職缺名稱,員工人數,最高薪資,最低薪資,薪資範圍,工作地區,是否需出差外派,職務內容,休假制度,上班時段,工作經歷要求,學歷要求,科系要求,其他條件,擅長工具,相關產業
0,AI軟體工程師 AI Software Engineer,300人,150000.000000,83333.333333,"年薪1,000,000~1,800,000元",台北市,無需出差外派,職位描述：\n\n我們正在尋找有經驗的軟體工程師加入開發團隊，理想候選人需至少有 2 年以上...,依公司規定,日班/晚班，需配合美東時間參加遠端會議,不拘,大學以上,[],NaN,Python,其他電子零組件相關業
1,軟體開發工程師/網頁軟體工程師,19人,85000.000000,66666.666667,"年薪800,000~1,020,000元",桃園市,無需出差外派,主要負責API程式與網路平台串接及開發EXCEL巨集或程式以整合跨系統/應用軟體作業流程。\...,依公司規定,日班，9:00~18:00,不拘,專科以上,"['資訊工程相關', '資訊管理相關']",NaN,"Linux, UNIX, PHP, MySQL, PostgreSQL, JavaScrip...",工商顧問服務業
2,Software Engineer / 軟體工程師,20人,120833.333333,83333.333333,"年薪1,000,000~1,450,000元",日本,無需出差外派,Responsibilities\n1. Add new features to our d...,週休二日,日班,2年以上,碩士以上,['資訊工程相關'],1. Interested in developing the novel document...,"C#, C++",電腦軟體服務業
3,軟體工程師,45人,75000.000000,40000.000000,"月薪40,000~75,000元",新北市,無需出差外派,工作內容：\n\n1. 通過.NET進行移動機器人平台開發\n2. 通過.NET/C++進行...,依公司規定,日班，9:00-18:00,不拘,大學以上,"['資訊工程相關', '數理統計相關', '其他數學及電算機科學相關']","具有微服務架構經驗,機器人相關演算法經驗或生產物流設計規劃經驗者尤佳","OOP, UML, Github, Jenkins, Git, C#, Visual Stu...",電腦軟體服務業
4,軟體工程師,10人,45000.000000,30000.000000,"月薪30,000~45,000元",台北市,無需出差外派,我們在尋找一位軟體工程師，維護及優化公司現有的多層次傳銷系統，並配合公司的需求開發新功能；此...,依公司規定,日班，上班時段：10:00/下班時段: 19:00,不拘,大學以上,"['資訊工程相關', '資訊管理相關']",熟悉多層次傳銷系統者佳,"ASP, ASP.NET, PHP, HTML, JavaScript, jQuery, CSS",傳直銷相關業

### 薪資資料預處理

In [4]:
def encode_salary(salary_low, salary_high):
    # 計算薪資範圍的平均值
    average_salary = (salary_low + salary_high) / 2
    # 根據行政院總計處提供的十分位數進行編碼
    if 27300 <= average_salary < 32600:
        return 1
    elif 32600 <= average_salary < 39000:
        return 2
    elif 39000 <= average_salary < 45500:
        return 3
    elif 45500 <= average_salary < 54500:
        return 4
    elif 54500 <= average_salary < 62100:
        return 5
    elif 62100 <= average_salary < 74200:
        return 6
    elif 74200 <= average_salary < 93000:
        return 7
    elif 93000 <= average_salary < 122000:
        return 8
    elif average_salary >= 122000:
        return 9
    else:
        return 3  # 對於不符合以上條件的情況，可以返回 None 或其他預設值

# 假設您的數據集中最低薪資和最高薪資的列名分別為 '最低薪資' 和 '最高薪資'
data['薪資範圍編碼'] = data.apply(lambda row: encode_salary(row['最低薪資'], row['最高薪資']), axis=1)

# # 首先，計算並儲存平均薪資
# data['average_salary'] = (data['最低薪資'] + data['最高薪資']) / 2
# # 顯示包含計算後的「平均薪資」前 15筆
# data[['最低薪資', '最高薪資', 'average_salary']].head(15)

# 查看結果
data[['最低薪資', '最高薪資', '薪資範圍編碼']].head(15)


# 假設 NaN 值用特定整數替代，例如 -1
data['薪資範圍編碼'] = data['薪資範圍編碼'].fillna(-1)
# 現在將浮點數轉換為整數
data['薪資範圍編碼'] = data['薪資範圍編碼'].astype(int)

# 查看結果
data[['最低薪資', '最高薪資', '薪資範圍編碼']].head()

           最低薪資           最高薪資  薪資範圍編碼
0  83333.333333  150000.000000       8
1  66666.666667   85000.000000       7
2  83333.333333  120833.333333       8
3  40000.000000   75000.000000       5
4  30000.000000   45000.000000       2

In [5]:
# 計算薪資範圍的平均值並轉換為整數
def compute_average_salary(salary_low, salary_high):
    # 計算薪資範圍的平均值
    average_salary = (salary_low + salary_high) / 2
    # 返回去除小數點的薪資
    return int(average_salary)

# 計算每一筆資料的平均薪資並轉換為整數，直接存儲到新的列 '薪資'
data['薪資'] = data.apply(lambda row: compute_average_salary(row['最低薪資'], row['最高薪資']), axis=1)

# 查看結果
data[['薪資']].head()

       薪資
0  116666
1   75833
2  102083
3   57500
4   37500

### 學歷資料預處理

In [6]:
def encode_education_level(education):
    education_mapping = {'不拘': 1, '高中': 1, '專科': 2, '大學': 3, '碩士': 4, '博士': 5}
    for level in education_mapping:
        if level in str(education):
            return education_mapping[level]
    return None  # 如果沒有匹配的學歷等級，則返回 None 或者您可以選擇其他的預設值

# 應用函數並創建一個新列
data['學歷要求編碼'] = data['學歷要求'].apply(encode_education_level)

# 查看結果
data[['學歷要求', '學歷要求編碼']].head()

   學歷要求  學歷要求編碼
0  大學以上       3
1  專科以上       2
2  碩士以上       4
3  大學以上       3
4  大學以上       3

### 工作年資資料預處理

In [7]:
def encode_work_experience(experience):
    if experience == '不拘':
        return 1
    else:
        # 使用split()函數分割字符串，並嘗試提取第一個數字
        # 如果分割後的第一部分能夠轉換為數字，則直接使用該數字作為編碼
        # 如果包含"以上"，則編碼為 5
        parts = experience.split('年')
        try:
            years = int(parts[0])  # 提取年份
            if '以上' in experience and years > 4:
                return 5  # 對於'X年以上'的情況，編碼為 5
            return min(years, 5)  # 確保返回值不超過 5
        except ValueError:
            # 轉換失敗，分割的第一部分不是一個數字
            return 1

data['工作經驗編碼'] = data['工作經歷要求'].apply(encode_work_experience)

data[['工作經歷要求', '工作經驗編碼']].head(5)

  工作經歷要求  工作經驗編碼
0     不拘       1
1     不拘       1
2   2年以上       2
3     不拘       1
4     不拘       1

### 工作地區資料預處理

In [8]:
# 定義地區到數字編碼的映射
# area_encoding = {
#     '台北市': 1, '新北市': 2,
#     '宜蘭縣': 3, '基隆市': 4,
#     '桃園市': 5, '新竹縣': 6,
#     '苗栗縣': 7, '臺中市': 8,
#     '彰化縣': 9, '南投縣': 10,
#     '雲林縣': 11, '嘉義縣': 12,
#     '台南市': 13, '高雄市': 14,
#     '屏東縣': 15, '台東縣': 16,
#     '花蓮縣': 17, '澎湖縣': 18,
#     '金門縣': 19, '連江縣': 20
# }

area_encoding = { # 總共 20
    '台北市': 1, '新北市': 1, '宜蘭縣': 1, '基隆市': 1, '桃園市': 1, '新竹縣': 1,
    '苗栗縣': 2,'台中市': 2, '彰化縣': 2, '南投縣': 2, '雲林縣': 2, 
    '嘉義縣': 3,'台南市': 3, '高雄市': 3, '屏東縣': 3, '澎湖縣': 3,
    '台東縣': 4,'花蓮縣': 4,
    '金門縣': 5, '連江縣': 5
}

# 台北市新北市宜蘭縣基隆市桃園市新竹縣市苗栗縣台中市彰化縣南投縣雲林縣嘉義縣市台南市高雄市屏東縣台東縣花蓮縣澎湖縣金門縣連江縣

# 使用 map 函數和 lambda 函數，如果 x 不在字典的鍵（keys）中，則返回 5 表示外島或国外地区。
data['工作地區編碼'] = data['工作地區'].map(lambda x: area_encoding.get(x, 5))

# 查看結果
data[['工作地區', '工作地區編碼']].head()

  工作地區  工作地區編碼
0  台北市       1
1  桃園市       1
2   日本       5
3  新北市       1
4  台北市       1

### 是否出差資料預處理

In [121]:
def encode_travel_requirement(requirement):
    if pd.isna(requirement):
        return 0  # 或者根據業務規則選擇合適的填充值
    elif requirement.startswith('無'):
        return 0
    elif requirement.startswith('需'):
        return 1
    else:
        return None  # 非預期的值

# 應用函數並創建一個新列
data['是否需出差外派編碼'] = data['是否需出差外派'].apply(encode_travel_requirement)

# 查看結果
data[['是否需出差外派', '是否需出差外派編碼']].head(5)

            是否需出差外派  是否需出差外派編碼
0  需出差，一年累積時間約六個月以下          1
1            無需出差外派          0
2            無需出差外派          0
3            無需出差外派          0
4            無需出差外派          0

### 員工人數 (公司規模)

In [122]:
import pandas as pd
import re

def classify_company_size(employees):
    match = re.search(r'\d+', str(employees))
    if match:
        number_of_employees = int(match.group(0))
        if number_of_employees < 100:
            return 1  # 小型企業
        elif 100 <= number_of_employees < 200:
            return 2  # 中型企業
        else:
            return 3  # 大型企業
    else:
        return 1 

data['公司規模'] = data['員工人數'].apply(classify_company_size)

data[['員工人數', '公司規模']].head()

   員工人數  公司規模
0   20人     1
1   40人     1
2   30人     1
3   20人     1
4  100人     2

### 相關科系(有或無即可)

In [123]:
# 定義檢查相關科系是否為空的函數
def check_major(major):
    if major == "[]":  # 假設科系欄位是字符串形式的空列表
        return 0
    else:
        return 1

# 應用函數並創建一個新列
data['是否需要相關科系'] = data['科系要求'].apply(check_major)

# 查看結果
data[['科系要求', '是否需要相關科系']].head()

                         科系要求  是否需要相關科系
0                          []         0
1                          []         0
2  ['資訊工程相關', '其他數學及電算機科學相關']         1
3                  ['資訊工程相關']         1
4      ['電機電子工程相關', '資訊工程相關']         1

### 職缺描述、其他條件 文字主觀性、可讀性

In [124]:
import pandas as pd
from textblob import TextBlob
from textatistic import Textatistic

# Define a function to analyze text and calculate readability and subjectivity
def analyze_text(data):
    # Initialize new columns to ensure we do not overwrite or delete original columns
    data['職務內容可讀性'] = 0.0
    data['職務內容主觀性'] = 0.0
    data['其他條件可讀性'] = 0.0
    data['其他條件主觀性'] = 0.0

    # 確保文本列是字符串類型，並處理 NaN值 *** 這段可以加到論文，說我們是如何處理空值***
    data['職務內容'] = data['職務內容'].fillna('').astype(str)
    data['其他條件'] = data['其他條件'].fillna('').astype(str)
    
    for i in range(len(data)):
        # Process job content
        job_content = data.loc[i, '職務內容']
        if job_content:
            job_blob = TextBlob(job_content)
            data.at[i, '職務內容主觀性'] = job_blob.sentiment.subjectivity
            try:
                readability_stats = Textatistic(job_content).scores
                data.at[i, '職務內容可讀性'] = readability_stats['flesch_score']
            except:
                data.at[i, '職務內容可讀性'] = None  # Some texts may be too short to calculate readability

        # Process other conditions
        other_conditions = data.loc[i, '其他條件']
        if other_conditions:
            other_blob = TextBlob(other_conditions)
            data.at[i, '其他條件主觀性'] = other_blob.sentiment.subjectivity
            try:
                readability_stats = Textatistic(other_conditions).scores
                data.at[i, '其他條件可讀性'] = readability_stats['flesch_score']
            except:
                data.at[i, '其他條件可讀性'] = None

    return data

# Call the function to perform text analysis
analyzed_data = analyze_text(data)

### 缺失值插補

In [125]:
# 計算可讀性的平均值
mean_readability = data['其他條件可讀性'].mean()

# 用平均值填充「其他條件可讀性」的缺失值
data['其他條件可讀性'].fillna(mean_readability, inplace=True)

In [126]:
# 計算可讀性的平均值
mean_readability = data['職務內容可讀性'].mean()

# 用平均值填充「其他條件可讀性」的缺失值
data['職務內容可讀性'].fillna(mean_readability, inplace=True)

In [127]:
analyzed_data.head()

,員工人數,最高薪資,最低薪資,工作地區,是否需出差外派,職務內容,工作經歷要求,學歷要求,科系要求,其他條件,...,學歷要求編碼,工作經驗編碼,工作地區編碼,是否需出差外派編碼,公司規模,是否需要相關科系,職務內容可讀性,職務內容主觀性,其他條件可讀性,其他條件主觀性
0,20人,70000.000000,35000.000000,台中市,需出差，一年累積時間約六個月以下,"1.電控規劃與設計 \n2.電控設備安裝與配線\n3.PLC,HMI軟體設計,開發(台達...",2年以上,專科、大學、碩士,[],,...,2,2,2,1,1,0,96.879405,0.000000,0.000000,0.000000
1,40人,50000.000000,38000.000000,台中市,無需出差外派,(1) 熟悉C/C++程式開發\n(2) 熟悉Windows程式開發者尤佳\n(3) 產品功...,不拘,專科以上,[],【加分項目】\n1. 擁有良好的代碼習慣，要求結構清晰，命名規範，邏輯性強，代碼冗餘率低。\...,...,2,1,2,0,1,0,96.754356,0.000000,49.006458,0.000000
2,30人,233333.333333,129166.666667,台北市,無需出差外派,《關於重高》\n我們是一間重視技術與服務的公司，在提升客戶的技術力上有著豐富的經驗。我們鼓勵...,4年以上,專科以上,"['資訊工程相關', '其他數學及電算機科學相關']",You will do really well in this role if you:\n...,...,2,4,1,0,1,1,96.754356,0.527083,55.748398,0.508858
3,20人,120833.333333,83333.333333,日本,無需出差外派,Responsibilities\n1. Add new features to our d...,2年以上,碩士以上,['資訊工程相關'],1. Interested in developing the novel document...,...,4,2,5,0,1,1,82.690490,0.406640,65.568294,0.500000
4,100人,100000.000000,75000.000000,台北市,無需出差外派,【Job Description】 \n1. Develop Low latency Tr...,3年以上,大學以上,"['電機電子工程相關', '資訊工程相關']",・Good C programming and debugging skills.\n・Go...,...,3,3,1,0,2,1,25.234792,0.425000,24.649091,0.100000

### 相關產業

In [128]:
# Assuming 'data' is your DataFrame and '相關產業' is the column of interest
industry_counts = data['相關產業'].value_counts().head(25)
total_counts = len(data)
percentage = (industry_counts / total_counts) * 100

# To display the results, you might create a new DataFrame
results = pd.DataFrame({
    '產業名稱': industry_counts.index,
    '職缺數量': industry_counts.values,
    '百分比': percentage.values
})
results

             產業名稱  職缺數量        百分比
0         電腦軟體服務業   744  32.138229
1       電腦系統整合服務業   268  11.576674
2      其它軟體及網路相關業   203   8.768898
3         網際網路相關業   200   8.639309
4     電腦及其週邊設備製造業    82   3.542117
5         自動控制相關業    73   3.153348
6      其他電子零組件相關業    52   2.246220
7          人力仲介代徵    43   1.857451
8          半導體製造業    38   1.641469
9          數位內容產業    33   1.425486
10           光電產業    24   1.036717
11     其他電信及通訊相關業    23   0.993521
12         多媒體相關業    23   0.993521
13     消費性電子產品製造業    23   0.993521
14        工商顧問服務業    21   0.907127
15        醫療器材製造業    20   0.863931
16      綜合商品批發代理業    17   0.734341
17      通訊機械器材相關業    17   0.734341
18       其他半導體相關業    16   0.691145
19    電力機械器材製造修配業    16   0.691145
20          百貨相關業    16   0.691145
21        IC設計相關業    14   0.604752
22          旅遊服務業    14   0.604752
23    專用生產機械製造修配業    13   0.561555
24  印刷電路板製造業(PCB)    13   0.561555

In [129]:
'''
休閒及人力服務業:1
商業服務及批發業:2
高科技製造及資訊通訊業:3
'''
simplified_industry_mapping = {
    '電腦及其週邊設備製造業': 3, '自動控制相關業': 3, '其他電子零組件相關業': 3,
    '半導體製造業': 3, '數位內容產業': 3, '光電產業': 3, '消費性電子產品製造業': 3,
    '醫療器材製造業': 3, '其他半導體相關業': 3, '電力機械器材製造修配業': 3,
    '專用生產機械製造修配業': 3, '印刷電路板製造業(PCB)': 3,
    '電腦軟體服務業': 3, '電腦系統整合服務業': 3, '其它軟體及網路相關業': 3,
    '網際網路相關業': 3, '多媒體相關業': 3, '通訊機械器材相關業': 3, 'IC設計相關業': 3,
    '工商顧問服務業': 2, '綜合商品批發代理業': 2, '百貨相關業': 2,
    '旅遊服務業': 1, '人力仲介代徵': 1
}

# Map industry names to group numbers in the data
data['產業類別編號'] = data['相關產業'].map(simplified_industry_mapping).fillna(3)

# Aggregate data by industry group number for analysis
grouped_counts = data['產業類別編號'].value_counts()
grouped_percentage = (grouped_counts / grouped_counts.sum()) * 100

# Create a new DataFrame to display results
group_results = pd.DataFrame({
    '產業類別編號': grouped_counts.index,
    '職缺數量': grouped_counts.values,
    '百分比': grouped_percentage.values
})
group_results

   產業類別編號  職缺數量        百分比
0     3.0  2204  95.205184
1     1.0    57   2.462203
2     2.0    54   2.332613

### 查看目前的 DataFrame 輸出欄位

In [130]:
existing_columns = list(data.columns)
existing_columns

['員工人數',
 '最高薪資',
 '最低薪資',
 '工作地區',
 '是否需出差外派',
 '職務內容',
 '工作經歷要求',
 '學歷要求',
 '科系要求',
 '其他條件',
 '擅長工具',
 '相關產業',
 '薪資',
 '學歷要求編碼',
 '工作經驗編碼',
 '工作地區編碼',
 '是否需出差外派編碼',
 '公司規模',
 '是否需要相關科系',
 '職務內容可讀性',
 '職務內容主觀性',
 '其他條件可讀性',
 '其他條件主觀性',
 '產業類別編號']

### 將結構化完畢後資料輸出至 Excel - 指定欄位

In [131]:
column_to_export = [
    '薪資', '學歷要求編碼', '工作經驗編碼','工作地區編碼',
    '是否需出差外派編碼','公司規模','是否需要相關科系','產業類別編號',
    '職務內容可讀性','職務內容主觀性', '其他條件可讀性', '其他條件主觀性'
]
export_data = data[column_to_export]
export_data.to_excel('encoded_data.xlsx', index=False)
print("encoded_data"+" 匯出成功")

encoded_data 匯出成功

### 計算 VIF 用 - 拿掉應變數

In [132]:
column_to_export_3 = [    
    '學歷要求編碼', '工作經驗編碼','工作地區編碼','產業類別編號',
    '是否需出差外派編碼','公司規模','是否需要相關科系',
    '職務內容可讀性','職務內容主觀性', '其他條件可讀性', '其他條件主觀性'
]
export_data_3 = data[column_to_export_3]
export_data_3.to_excel('VIF_encoded_data.xlsx', index=False)
print("VIF_encoded_data"+" 匯出成功")

VIF_encoded_data 匯出成功

### 計算各薪資區間的最常見技術用 -- 已無用

In [133]:
# column_to_export_2 = ['薪資','擅長工具']
# export_data_2 = data[column_to_export_2]
# export_data_2.to_excel('tools_encoded_data.xlsx', index=False)
# print("tools_encoded_data"+" 匯出成功")